<!DOCTYPE html>
<html>
<head>
    <title>Тестовое испытание</title>
</head>
<body>
    <h1>Тестовое испытание</h1>
    <form action="/test_of_kingdom/{{kingdom_id}}/{{user_name}}/" method="post">
        {% csrf_token %}
        {% for question in questions %}
            
            <p>Вопрос: {{ question.content }} </p>
            <fieldset id={{ question.content }}>
                <input type="radio" value="True" name={{ question.content }} > True <br>
                <input type="radio" value="False" name={{ question.content }} > False <br>
            </fieldset>

        {% endfor %}
        
        <input type="submit" value="Отправить">
    </form>
</body>
</html>